<div class="container">
  <div class="box">
    <header style="background: #fff; color: #000000; font-weight: bold;">
      <h4 style="margin: auto;">Novo Custo</h4>
    </header>
    <form [formGroup]="registerForm" (ngSubmit)="save()">

      <div class="form-group" [style.fontSize.px]="18">
        <mat-form-field>
          <input matInput placeholder="Descrição" formControlName="descricao" [ngClass]="{'is-invalid': submitted && f.descricao.errors }" type="text" [(ngModel)]="custo.descricao"> <br>
          <mat-error *ngIf="submitted && f.descricao.errors" class="invalid-feedback">
              <mat-error style="font-size: small;" role="alert" *ngIf="f.descricao.errors.required">Descrição é obrigatório</mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group" [style.fontSize.px]="18">
        <mat-form-field>
          <input matInput placeholder="Valor" formControlName="valor" [ngClass]="{'is-invalid': submitted && f.valor.errors }" type="number" [(ngModel)]="custo.valor"> <br>
          <mat-error *ngIf="submitted && f.valor.errors" class="invalid-feedback">
            <mat-error style="color: red" role="alert" *ngIf="f.valor.errors.required">Valor é obrigatório</mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group" [style.fontSize.px]="18">
        <mat-form-field>
          <input matInput placeholder="Data Início" formControlName="inicio" [ngClass]="{'is-invalid': submitted && f.inicio.errors }" type="date" [(ngModel)]="custo.inicio"> <br>
          <mat-error *ngIf="submitted && f.inicio.errors" class="invalid-feedback">
            <mat-error style="color: red" role="alert" *ngIf="f.inicio.errors.required">Data Início é obrigatório</mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group" [style.fontSize.px]="18">
        <mat-form-field>
          <input matInput placeholder="Data Fim" formControlName="fim" [ngClass]="{'is-invalid': submitted && f.fim.errors }" type="date" [(ngModel)]="custo.fim"> <br>
          <mat-error *ngIf="submitted && f.fim.errors" class="invalid-feedback">
              <mat-error style="font-size: small;" role="alert" *ngIf="f.fim.errors.required">Data Fim é obrigatório</mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group" [style.fontSize.px]="18">
        Tipo:<br><br>
        <mat-radio-group formControlName="tipo" [(ngModel)]="custo.credito">
          <mat-radio-button class="example-radio-button" *ngFor="let b of booleano" [value]="b.value">
            <div style="margin-right: 10px;">{{ b.label }}</div>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <button Style="margin: 5px" (click)="cancelClicked()" class="btn btn-outline-danger">Cancelar</button>
      <button type="submit" Style="margin: 5px" class="btn btn-outline-success">Salvar Custo</button>
    </form>
  </div>
</div>
